@keyframes animacion_test{
    from{
        background-color: rgba(179, 216, 139, 0.767);
    }
    to{
        background-color: rgb(0, 0, 0);
    }
}

@keyframes girar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes label-animacion{
    from{
        transform: rotate(0deg);
        margin-left: 0;
    }
    to{
        transform: rotate(180deg);
        margin-left: 85vw;
    }
}

.label-container{
    width: 100%;
    padding: 1.3rem;
    box-sizing: border-box;
}

.label{
    width: 64px;
    background-color: rgb(143, 76, 187);
    color:aliceblue;
    font-size: 1.3rem;
    padding: 1rem;
    border-radius: 20px;
    animation-name: label-animacion;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}

.loader{
    width: 64px;
    height: 64px;
    border: 10px solid #313131;
    border-top: 10px solid #ffffff;
    border-radius: 50%;
    animation: girar 2s linear infinite;
}

.loader-double{
    width: 64px;
    height: 64px;
    border: 16px solid #ffffff;
    border-top: 16px solid #000000;
    border-bottom: 16px solid #030303;
    border-radius: 50%;
    animation: girar 2s linear infinite;
}

.animada{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.767);
    color: rgb(255, 255, 255);
    text-align: center;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animacion_test 2s alternate infinite;
}