*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../images//clay-banks-u27Rrbs9Dwc-unsplash.jpg);
    background-size: cover;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

.login{
    
    width: 600px;
    height: 50px;
    border-radius: 15px solid rgb(0, 0, 0);
    margin-top: 10%;
    text-align-last: center;
    
}



